@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

h1 {
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-align: center;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;

}

#wrapper {
  width: 40rem;
  background: #ccc;
  margin: auto;
  border: 1px solid #ccc;
}

header {
  width: 100%;
  background: #193338;
  padding: 2rem;
  box-sizing: border-box;
}

span {
  color: #ffd31d;
}

main {
  padding: 2rem;
  box-sizing: border-box;
  background: #efefef;
}

ul {
  padding: 0;
}

ul li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

ul li button {
  grid-column: 3/-1;
}