@media only screen and (min-width: 32.5em) {
  .mainmenu {
    display: flex;
  }

  .mainmenu li:first-child {
    display: none;
  }

  .mainmenu li {
    display: block;
    flex: 1 1 10%;
  }

  .mainmenu li a {
    color: #fff;
  }


  main.section1 {
    display: none;
  }



  nav button {
    display: none;
  }

  nav ul {
    margin-left: 2%;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: .6rem 1rem;
  }

  nav ul.hide {
    display: block;
    flex: 1 1 100%;
  }

  .mainmenu a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
  }


  h2#five {
    display: block;
  }

  main .section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }


  article img {
    float: right;
    margin: 0 0 5px 10px;
    width: unset;
  }

  #slogan {
    font-size: .7rem;
  }

  main .section2 {
    border: 1px solid #beb7a9;
    padding: 1rem;
    margin: 10px 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 2fr;
    background-color: #e9e0d1;
  }

  section.section2>div:nth-child(3) {
    grid-column: unset;
  }

  /*
  #hero figcaption {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  #hero figcaption {
    position: absolute;
    top: 2rem;
    background: rgb(255, 255, 255, .7);
    left: 2rem;
    border-radius: 20px;
    color: black;
    padding: 20px;
  }
*/

  #herobanner #herocase {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  #herobanner #herocase {
    position: absolute;
    top: 2rem;
    background: rgb(255, 255, 255, .7);
    left: 2rem;
    border-radius: 20px;
    color: black;
    padding: 20px;
  }

  h2#place,
  h2#place2 {
    text-align: center;
  }

  h2 {
    text-align: unset;

  }

  article {
    margin: 20px;
  }

  #five {
    margin: 20px;
  }

  #contact {
    margin: 20px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }


  .cards section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 15px;
  }

  .cards section:nth-child(2) :nth-child(1) {
    order: 2;
  }

  footer div#addy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    grid-gap: 20px;
    padding: 0 20px;
    text-align: left;
  }

  .mainmenu {
    font-size: .5rem;
  }

  .section1 div:last-child {
    grid-column: 1/-1;
  }

  #herobanner2 {
    height: 420px;
  }
}